 <ion-view>
            <ion-header-bar class="bar-positive">
                <a class="button button-icon ion-home button-txt-color" href="#/dashboard" ng-show="enquiry.ShowDateDiv">
                </a>
                <a class="button button-icon ion-android-arrow-back button-txt-color" ng-click="enquiry.Back()" ng-show="!enquiry.ShowDateDiv && !enquiry.ShowSummaryDiv">
                </a>
                <h1 class="title">{{enquiry.Header}}</h1>
                <button class="button button-icon button-txt-color" ng-show="!enquiry.ShowSummaryDiv" ng-click="enquiry.Next()">Next
                </button> 
            </ion-header-bar>


            <ion-content has-header="true">
                <!-- DATE TIME --> 
                <div ng-show="enquiry.ShowDateDiv">
                    <div class="list card">
                        <div class="item">
                            <center>
                                <h2>WHEN</h2>
                                <p>Appointment date and time</p>
                            </center>                            
                        </div>
                        <label class="item item-select">
                            <i class="icon ion-ios7-calendar-outline date-time-icon-styling"></i>

                            <select class="select-date-style"  ng-model="enquiry.Appointment.Date" ng-options="Date for Date in enquiry.Dates" ng-init="enquiry.Appointment.Date = enquiry.Dates[0]">
                            </select>                                    
                        </label>
                        <label class="item item-select">
                            <i class="icon ion-ios7-stopwatch-outline date-time-icon-styling"></i>
                            <select class="select-date-style"  ng-model="enquiry.Appointment.Time" ng-selected='0' ng-options="Time for Time in enquiry.TimeSlot" ng-init="enquiry.Appointment.Time = enquiry.TimeSlot[0]">
                            </select>
                        </label>                                                    
                    </div>                                               
                </div>
                <!-- CLIENT -->
                <div ng-show="enquiry.ShowClientDiv">
                    <div class="list card" >
                        <div class="item">
                            <center>
                                <h2 class="apt-label">CLIENT</h2>
                                <p>enter client details</p>
                            </center>                            
                        </div>                       
                        <div class="list">
                            <label class="item item-input date-time-icon-styling">
                                <i class="icon ion-ios7-person-outline"></i>
                                <input class="input-client-name" type="text" name="Name" ng-model="enquiry.Appointment.Client" placeholder="Name">
                            </label> 

                            <label class="item item-input date-time-icon-styling">
                                <i class="icon ion-ios7-telephone-outline"></i>
                                <input class="input-client-name" type="text" name="Number" ng-model="enquiry.Appointment.Number" placeholder="Number">
                            </label>   
                        </div>                                                     
                    </div>                                    
                </div>
                <!-- COMMENT -->
                <div ng-show="enquiry.ShowCommentDiv">
                    <div class="list card" >
                        <div class="item">
                            <center>
                                <h2 class="apt-label">COMMENT</h2>
                                <p>enter reason (if any)</p>
                            </center>                            
                        </div>                       
                        <div class="list">
                            <label class="item item-input date-time-icon-styling">
                                <textarea ng-model="enquiry.Appointment.Comment" class="input-client-name" placeholder="enter comment here">
                                </textarea>
                            </label>                            
                        </div>                                                     
                    </div>                                    
                </div> 
                <!-- SUMMARY --> 
                <div ng-show="enquiry.ShowSummaryDiv">
                    <div class="card">
                        <div class="item item-icon-right">
                            <span>  <!-- ng-click="task.ShowProvider()"> -->
                                <p>Client details</p>
                                <h2>{{enquiry.Appointment.Client}}</h2>                               
                                <p ng-show="enquiry.Appointment.Client == undefined">
                                    Not Selected
                                </p>
                                <p>{{enquiry.Appointment.Number}}</p>
                                <i ng-click="enquiry.ShowClientFun()"class="icon ion-edit"></i>
                            </span>   
                        </div>
                        <div class="item item-icon-right">
                            <a ng-click="enquiry.ShowDate()">
                                <p>Appointment tentative date-time</p>
                                <h2>{{enquiry.Appointment.Date}}</h2>                                 
                                <p>{{enquiry.Appointment.Time}}</p>
                                <i ng-click="enquiry.ShowDateFun()" class="icon ion-edit"></i>
                            </a>
                        </div>
                        <div class="item item-icon-right">
                            <a ng-click="enquiry.ShowComment()">
                                <p>Comment</p>
                                <p>{{enquiry.Appointment.Comment}}</p>
                                <i ng-click="enquiry.ShowCommentFun()"class="icon ion-edit"></i>
                            </a>
                        </div>                        
                    </div>
                    <div class="row">
                        <div class="col col-20">
                            <a class="button button-block" ng-click="enquiry.Cancel()">X</a>
                        </div>
                        <div class="col">                              
                            <button class="button button-block apt-btn" ng-click="enquiry.Done()">
                                DONE
                            </button>
                        </div>
                    </div>                    
                </div>             
            </ion-content>       
        </ion-view> 