<ion-view animation="no-animation">
	<form name="Loginfrm">
		<ion-header-bar animation="no-animation" class="bar-positive" style= "background-color: #4d7496 !important;
	border-bottom: 3px solid #e36112 !important;">
		  	<h1 class="title" style="font-weight:bold">
		  		Sparrow
		  	</h1>
			<a class="button button-icon button" ng-click="Login.login()">Login <i class="icon ion-android-arrow-forward"></i>
			</a>
		</ion-header-bar>	
		<ion-content has-header="true" padding="true">
			<div class="row">
			  	<div class="col">
			  		<div class="list">                  
                        
                        <label class="item item-input">
                            <i class="icon ion-ios7-person-outline" style="font-size:30px;padding-right:10px; color:#e36112;"></i>
                            <input type="text" name="UserName" ng-model="Login.UserName" placeholder="UserName" style="font-size:16px;">
                        </label> 

                        <label class="item item-input">
                            <i class="icon ion-ios7-locked-outline"  style="font-size:30px;padding-right:10px; color:#e36112;"></i>
                            <input type="password" name="Password" ng-model="Login.Password" placeholder="Password" style="font-size:16px;">
                        </label>  
					</div>
				</div>
			</div>
		</ion-content>
		<ion-footer-bar align-title="center">
			<h1 class="title footer-para" style="color:#4d7496;">
				Powered by Better Life Solutions
			</h1>
		</ion-footer-bar>
	</form>
</ion-view>