.bar-positive{background-color: #4d7496 !important;border-bottom: 3px solid #e36112 !important;}
.title{font-weight:bold !important;color:#fff !important;}
.footer-style{color:#fff !important; font-weight:bold !important;}
.button-txt-color{color:#fff !important;}
.date-time-icon-styling{font-size: 35px !important;padding-right: 10px !important;}
.select-date-style{line-height:31px !important;font-size:20px !important;}
.input-client-name{line-height:31px !important;font-size:15px !important;padding:13px !important;padding-left: 9px !important;}
.login-icon-style{font-size:30px !important;padding-right:10px !important;color:#e36112 !important;}